In [212]:
#pip install yahoo-finance

import os
import numpy as np 
import pandas as pd 
#import yfinance as yf
import requests
import alpaca_trade_api as tradeapi
import hvplot.pandas 
import questionary
import fire

ModuleNotFoundError: No module named 'fire'

In [2]:
# retrieving yahoo indices for cryptocurrency
crypto_indices = pd.read_html(requests.get('https://finance.yahoo.com/cryptocurrencies').text)
major_crypto = crypto_indices[0]
major_crypto.head()

,Symbol,Name,Price (Intraday),Change,% Change,Market Cap,Volume in Currency (Since 0:00 UTC),Volume in Currency (24Hr),Total Volume All Currencies (24Hr),Circulating Supply,52 Week Range,Day Chart
0,BTC-USD,Bitcoin USD,34073.030000,-1510.250000,-4.24%,648.564B,36.74B,36.74B,36.74B,19.035M,NaN,NaN
1,ETH-USD,Ethereum USD,2520.980000,-118.710000,-4.50%,304.284B,20.815B,20.815B,20.815B,120.701M,NaN,NaN
2,USDT-USD,Tether USD,0.999882,0.000046,+0.00%,83.208B,78.003B,78.003B,78.003B,83.217B,NaN,NaN
3,BNB-USD,Binance Coin USD,355.470000,-11.140000,-3.04%,58.04B,1.88B,1.88B,1.88B,163.277M,NaN,NaN
4,USDC-USD,USD Coin USD,1.000100,0.000200,+0.02%,48.681B,5.444B,5.444B,5.444B,48.677B,NaN,NaN

In [213]:
def get_user_info_1():
    """Prompt dialog to get the user's date range (n) and the number of days in the simple moving average (SMA) (window) information.

    Returns:
        Returns the Date Range and SMA.
    """
    window = 0
    n = questionary.text("What is the date range to be analyzed?  Please respond in number of days").ask()
    
    n = float(n)
    
    return n

In [214]:
def get_user_info_2():
    """Prompt dialog to get the user's date range (n) and the number of days in the simple moving average (SMA) (window) information.

    Returns:
        Returns the Date Range and SMA.
    """
    window = 0
    window = questionary.text("How long, in number of days, is the SMA to be?  e.g., 50 DMA, 100 DMA, 200 DMA, etc?").ask()
    
    window = float(window)
    
    return n

In [215]:
def run():

    """This is the main program"""
    
    date_range = get_user_info_1()
    
    return date_range    
    
    SMA_range = get_user_info_2()
    
    return SMA_range

    print(date_range)
    print(SMA_range)


if __name__ == "__main__":
    fire.Fire(run)

NameError: name 'fire' is not defined

In [217]:
# THIS IS THE BEGINNING OF THE CODE BLOCK FOR THE SIMPLE MOVING AVERAGE (SMA) FUNCTION

# Inputs required from User
# n = calendar days in the interval
# e.g., 2 months: n = 60, 6 months: n = 180

# window = number of days in the moving average
# e.g., 50 DMA: window = 50, 200 DMA: window = 200



# n is designed to be input above using questionary and get_user_info_1() function

# window is designed to be input above using the questionary and get_user_info_2() function

# This section should be modified to pull from an external API like Alpaca or Alpha Advantage

btc_data = pd.read_csv("./Resources/btc-usd.csv",
                       index_col='Date', 
                        parse_dates=True, 
                        infer_datetime_format=True
                      )
btc_data

                Open      High       Low     Close       Volume
Date
2022-02-05  41501.48  41847.16  41038.10  41441.16  19652846215
2022-02-06  41441.12  42500.79  41244.91  42412.43  16142097334
2022-02-07  42406.78  44401.86  41748.16  43840.29  28641855926
2022-02-08  43854.65  45293.87  42807.84  44118.45  33079398868
2022-02-09  44096.70  44727.80  43232.97  44338.80  23245887300
...              ...       ...       ...       ...          ...
2022-05-01  37713.27  38627.86  37585.79  38469.09  27002760110
2022-05-02  38472.19  39074.97  38156.56  38529.33  32922642426
2022-05-03  38528.11  38630.00  37585.62  37750.45  27326943244
2022-05-04  37748.01  39902.95  37732.06  39698.37  36754404490
2022-05-05  39695.75  39789.28  35856.52  36575.14  43106256317

[90 rows x 5 columns]

In [218]:
from datetime import date
today = str(date.today())
print(today)

2022-05-08

In [219]:
# from the initial user input n is already set

from datetime import datetime, timedelta
import time
today = datetime.today()
n = 180
start_date = today - timedelta(days=n)
#print(f"Today's date,"  str(today))
#)
#print(f"The start date for time period,"  start_date.strftime('%Y-%m-%d')
#)
print (today)
print (start_date)

2022-05-08 19:39:30.008799
2021-11-09 19:39:30.008799

In [220]:
btc_df =btc_data.loc[start_date:today]

btc_df.head(85)

                Open      High       Low     Close       Volume
Date
2022-02-05  41501.48  41847.16  41038.10  41441.16  19652846215
2022-02-06  41441.12  42500.79  41244.91  42412.43  16142097334
2022-02-07  42406.78  44401.86  41748.16  43840.29  28641855926
2022-02-08  43854.65  45293.87  42807.84  44118.45  33079398868
2022-02-09  44096.70  44727.80  43232.97  44338.80  23245887300
...              ...       ...       ...       ...          ...
2022-04-26  40448.42  40713.89  37884.98  38117.46  34569088416
2022-04-27  38120.30  39397.92  37997.31  39241.12  30981015184
2022-04-28  39241.43  40269.46  38941.42  39773.83  33903704907
2022-04-29  39768.62  39887.27  38235.54  38609.82  30882994649
2022-04-30  38605.86  38771.21  37697.94  37714.88  23895713731

[85 rows x 5 columns]

In [221]:
# View header and tail of BTC for 2 months
print("BTC-USD data frame from: April 20, 20220 - May 05, 2022")
print("-----------------------------------------------------")
display(btc_df.head())
display(btc_df.tail())

BTC-USD data frame from: April 20, 20220 - May 05, 2022
-----------------------------------------------------

                Open      High       Low     Close       Volume
Date
2022-02-05  41501.48  41847.16  41038.10  41441.16  19652846215
2022-02-06  41441.12  42500.79  41244.91  42412.43  16142097334
2022-02-07  42406.78  44401.86  41748.16  43840.29  28641855926
2022-02-08  43854.65  45293.87  42807.84  44118.45  33079398868
2022-02-09  44096.70  44727.80  43232.97  44338.80  23245887300

                Open      High       Low     Close       Volume
Date
2022-05-01  37713.27  38627.86  37585.79  38469.09  27002760110
2022-05-02  38472.19  39074.97  38156.56  38529.33  32922642426
2022-05-03  38528.11  38630.00  37585.62  37750.45  27326943244
2022-05-04  37748.01  39902.95  37732.06  39698.37  36754404490
2022-05-05  39695.75  39789.28  35856.52  36575.14  43106256317

In [222]:
# Dropping last 2 columns of BTC 
btc_new_df = btc_df.drop(columns=['Open','High','Low','Volume'], axis=1)
print("BTC-USD update:")
print("---------------")
btc_new_df

BTC-USD update:
---------------

               Close
Date
2022-02-05  41441.16
2022-02-06  42412.43
2022-02-07  43840.29
2022-02-08  44118.45
2022-02-09  44338.80
...              ...
2022-05-01  38469.09
2022-05-02  38529.33
2022-05-03  37750.45
2022-05-04  39698.37
2022-05-05  36575.14

[90 rows x 1 columns]

In [ ]:
def BTC_SMA():
#    end = 60
#    n <= end
#    n = 0
#    window = 15
    n_window = n + window
    btc_avg = btc_new_df

    while n in range(16,59):
        #valid==(n < 60)
        n_window = n + window
        time = btc_new_df[n:n_window].sum()
        avg = time/window
        btc_avg = btc_avg.append(avg, ignore_index=False)
        n += 1 

    
    btc_final = btc_avg.drop_duplicates()
    print("This is the listing of 15 day moving averages for Bitcoin")
    display(btc_final)
    
    return btc_final

In [223]:
"""
This is the old code block for the 15 day moving average for Bitcoin over a 2 month period.  

"""
"""
end = 60
n <= end
n = 0
window = 15
n_window = n + window
btc_avg = btc_new_df

while n in range(16,59):
    #valid==(n < 60)
    n_window = n + window
    time = btc_new_df[n:n_window].sum()
    avg = time/window
    btc_avg = btc_avg.append(avg, ignore_index=False)
    n += 1 

    
btc_final = btc_avg.drop_duplicates()
print("This is the listing of 15 day moving averages for Bitcoin")
display(btc_final)
"""

This is the listing of 15 day moving averages for Bitcoin

               Close
Date
2022-02-05  41441.16
2022-02-06  42412.43
2022-02-07  43840.29
2022-02-08  44118.45
2022-02-09  44338.80
...              ...
2022-05-01  38469.09
2022-05-02  38529.33
2022-05-03  37750.45
2022-05-04  39698.37
2022-05-05  36575.14

[90 rows x 1 columns]

In [225]:
def plot_SMA():
    SMA().hvplot(x='Date', y='Close', kind = 'line', value_label = "This is the moving average of Bitcoin over the user specific timeframe and window")

In [224]:
# Previous code - used to create plot_SMA() function:  btc_final.hvplot(x='Date', y='Close', kind = 'line', value_label = "This is the moving average of Bitcoin over the user specific timeframe and window")

:Curve   [Date]   (Close)

In [227]:
def run():

    """This is the main program"""
    
    date_range = get_user_info_1()
    
#    return date_range    
    
    SMA_range = get_user_info_2()
    
#    return SMA_range

    BTC_SMA()

    plot_SMA()

    print(date_range)
    print(SMA_range)


if __name__ == "__main__":
    fire.Fire(run)

NameError: name 'fire' is not defined

In [ ]:
""" This is the code block for ETH """

# retrieving ETH-USD ticker
#eth_data = #btc_data = yf.Ticker('BTC-USD')

eth_data = pd.read_csv("./Resources/eth-usd.csv",
                        index_col='Date', 
                        parse_dates=True, 
                        infer_datetime_format=True)
eth_data

In [ ]:
#Creating ETH history data for 2 months
#eth_df = eth_data.history(period='2mo', start='2022-02-05', end='2022-05-05')
eth_df =eth_data.iloc[24:89]

eth_df.head(50)

In [ ]:
# View header and tail of ETH for 2 months
print("ETH-USD data frame from: March 1, 20220 - May 05, 2022")
print("-----------------------------------------------------")
display(eth_df.head())
display(eth_df.tail())

In [ ]:
# Dropping last 2 columns of ETH 
eth_new_df = eth_df.drop(columns=['Open','High','Low','Volume'], axis=1)
print("ETH-USD update:")
print("---------------")
eth_new_df

In [ ]:
# ETH-USD csv file
eth_new_df.to_csv('ETH-USD.csv',float_format='%.2f')

In [ ]:
# retrieve DOGE-USD ticker
#doge_data = yf.Ticker('DOGE-USD')

In [ ]:
#Creating DOGE history data for 2 months
#doge_df = doge_data.history(period='2mo', start='2022-02-05', end='2022-05-05')

In [ ]:
# View header and tail of DOGE for 2 months
"""
print("ETH-USD data frame from: April 20, 20220 - May 05, 2022")
print("-----------------------------------------------------")
display(doge_df.head())
display(doge_df.tail())
"""

In [ ]:
# Dropping last 2 columns of DOGE 
"""
doge_new_df = doge_df.drop(columns=['Stock Splits','Dividends'], axis=1)
print("DOGE-USD update:")
print("---------------")
doge_new_df
"""

In [ ]:
# ETH-USD csv file
#doge_new_df.to_csv('DOGE-USD.csv',float_format='%.2f')

In [ ]:
# retreiving Index tickers
stock_indices = pd.read_html(requests.get('https://finance.yahoo.com/world-indices/').text)
major_Stock = stock_indices[0]
major_Stock.head()

In [ ]:
#Collecting S&P500 indice
sp_data = pd.read_csv("./Resources/S&P500.csv",
                      index_col='Date', 
                        parse_dates=True, 
                        infer_datetime_format=True)                      
sp_data

In [ ]:
# sp500 date range
sp500_df =sp_data.iloc[15:60]

sp500_df.head(50)

In [ ]:
# viewing sp500 df
print("S&P500 data frame from: March 1, 20220 - May 05, 2022")
print("-----------------------------------------------------")
display(sp500_df.head())
display(sp500_df.tail())

In [ ]:
#drop columns 
sp500_new_df = sp500_df.drop(columns=['Open','High','Low','Volume'], axis=1)
sp500_new_df

In [ ]:
#creating sp500 csv file
nasdaq_data = pd.read_csv("./Resources/NASDAQ.csv",
                          index_col='Date', 
                        parse_dates=True, 
                        infer_datetime_format=True)                      
nasdaq_data

In [ ]:
#creating nasdaq df
#nasdaq_data = yf.Ticker('^IXIC')

In [ ]:
# nasdq date range
nasdaq_df =nasdaq_data.iloc[15:60]

nasdaq_df.head(50)

In [ ]:
print("NASDAQ data frame from: March 1, 20220 - May 05, 2022")
print("----------------------------------------------------")
display(nasdaq_df.head())
display(nasdaq_df.tail())

In [ ]:
# drop columns 
nasdaq_new_df = nasdaq_df.drop(columns=['Open','High','Low','Volume'], axis=1)
nasdaq_new_df

In [ ]:
#nasdaq_new_df.to_csv('NASDAQ.csv',float_format='%.2f')

In [ ]:
display(btc_new_df)

In [ ]:
display(eth_new_df)

In [ ]:
display(sp500_new_df)

In [ ]:
display(nasdaq_new_df)

In [ ]:
"""
This is the code block for the 15 day moving average for Bitcoin over a 2 month period.  

"""

end = 60
n <= end
n = 0
window = 15
n_window = n + window
btc_avg = btc_new_df

while n in range(16,59):
    #valid==(n < 60)
    n_window = n + window
    time = btc_new_df[n:n_window].sum()
    avg = time/window
    btc_avg = btc_avg.append(avg, ignore_index=False)
    n += 1 

    
btc_final = btc_avg.drop_duplicates()
print("This is the listing of 15 day moving averages for Bitcoin")
display(btc_final)

In [ ]:
btc_final.hvplot(x='Date', y='Close', kind = 'line', clabel = "This is the 15 day moving average of the Bitcoin")

In [ ]:
"""
This is the code block for the 15 day moving average for Ethereum over a 2 month period.  

"""

end = 60
n <= end
n = 0
window = 15
n_window = n + window
eth_avg = eth_new_df

while n in range(16,59):
    #valid==(n < 60)
    n_window = n + window
    time = eth_new_df[n:n_window].sum()
    avg = time/window
    eth_avg = eth_avg.append(avg, ignore_index=False)
    n += 1 

    
eth_final = eth_avg.drop_duplicates()
print("This is the listing of 15 day moving averages for Ethereum")
display(eth_final)

In [ ]:
eth_final.hvplot(x='Date', y='Close', kind = 'line', clabel = "This is the 15 day moving average of the Ethereum")

In [ ]:
"""
This is the code block for the 15 day moving average for S&P 500 over a 2 month period.  

"""

end = 60
n <= end
n = 0
window = 15
n_window = n + window
sp500_avg = sp500_new_df

while n in range(16,59):
    #valid==(n < 60)
    n_window = n + window
    time = sp500_new_df[n:n_window].sum()
    avg = time/window
    sp500_avg = sp500_avg.append(avg, ignore_index=False)
    n += 1 

    
sp500_final = sp500_avg.drop_duplicates()
print("This is the listing of 15 day moving averages")
display(sp500_final)

In [ ]:
sp500_final.hvplot(x='Date', y='Close', kind = 'line', clabel = "This is the 15 day moving average of the S&P 500")

In [ ]:
"""
This is the code block for the 15 day moving average for Nasdaq over a 2 month period.  

"""

end = 60
n <= end
n = 0
window = 15
n_window = n + window
nasdaq_avg = nasdaq_new_df

while n in range(16,59):
    #valid==(n < 60)
    n_window = n + window
    time = nasdaq_new_df[n:n_window].sum()
    avg = time/window
    nasdaq_avg = nasdaq_avg.append(avg, ignore_index=False)
    n += 1 

    
nasdaq_final = nasdaq_avg.drop_duplicates()
print("This is the listing of 15 day moving averages")
display(nasdaq_final)

In [ ]:
nasdaq_final.hvplot(x='Date', y='Close', kind = 'line', clabel = "This is the 15 day moving average of the Nasdaq")

In [ ]:
"""
Linear regression analysis is used to predict the value of a variable based on the 
value of another variable. The variable you want to predict is called the dependent 
variable. The variable you are using to predict the other variable's value is called 
the independent variable.

"""